@import "../../styles/variables.scss";

.container {
  background-color: $white;
  padding:40px;
  display: flex;
  gap: 40px;
  flex-direction: column;
  width: 500px;
  background-image: url("../../../assets/images/cloud-bg-popup.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 12px;

  .headContainer {
    display: flex;
    justify-content: space-between;
    .headingText {
      font-size: 16px;
      font-weight: 400;
      color: $darkBlue;
    }

    .closeIcon {
      cursor: pointer;
    }
  }

  .containerText {
    font-size: 16px;
    color: $lightBlack;
    white-space: pre-line;
    line-height: 1.5;
    font-family: "Noto sans", serif;
    margin-bottom: 24px;
  }

  .buttonContainer {
    display: flex;
    justify-content: flex-end;
    gap: 18px;
    .confirmText {
      color: $white;
    }

    .cancelButton {
      background-image: none !important;
      border: 1px solid $blue;
      height: 50px;
      width: 48%;
      font-size: 16px;
    }

    .confirmButton {
      width: 48%;
      height: 50px;
      font-size: 16px;
    }

    .cancelText {
      color: $blue;
    }
  }

  .horizontalLine {
    border: 1px solid #d9d9d9;
    height: 0px;
  }
}

.iconTitle {
  display: flex;
  gap: 0px;
}
.iconTitle2 {
  display: flex;
  align-items: center;
  gap: 0px;
}

.requestIcon {
  margin-top: -6px;
  margin-left: -10px;
}
.successIcon {
  width: 45px;
  margin-top: -6px;
  margin-left: -10px;
}

.noteText {
  color: $grey;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
}
.header {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.deleteIcon {
  margin-right: 8px;
}

.growthSessionsText {
    font-weight: 400;
    font-size: 18px;
    font-family: "Noto Sans", sans-serif;
    color: #0e3c81;
    span {
      color: $mahatriaName;
    }
  }

  .imagesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    .successIcon {
      padding-top: 50px;
    }
  }

  .skyDiv {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 413px;
    align-items: center;
  }



  .text {
    font-weight: 400;
    font-size: 18px;
    font-family: "Noto Sans", sans-serif;
    color: #051b46;
    line-height: 28px;
    text-align: center;
    .mahatriaText {
      color: #ff3a3a;
    }
  }
  .growthText{
font-size: 18px;
font-weight: 600;
line-height: 28px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
  }