@import "../../common/styles/variables.scss";

.signupPage {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.customContainer {
  width: 100%;
  margin-top: 5px;
}

.customInput,
.errorFieldPhone {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc !important;

  &:focus,
  &:hover {
    border-color: #007bff !important;
    outline: none;
  }
}

.errorFieldPhone {
  border: 1px solid #e28619 !important;

  &:focus,
  &:hover {
    border: 1px solid #007bff !important;
    outline: none !important;
  }
}

.customButton {
  background-color: unset !important;
  border: unset !important;
  &:focus,
  &:hover {
    border-color: #007bff;
    outline: none;
  }
}

:global {
  .react-tel-input .selected-flag {
    background-color: unset !important;
    border-radius: unset !important;
    padding: 5px;
    padding-left: 10px;
    border: 1px solid #ccc;
    border-right: unset !important;
    border-left: unset !important;
    border-top: unset !important;
    border-bottom: unset !important;
  }

  .react-tel-input .form-control {
    width: 100% !important;
    font-size: 16px;
    height: 45px !important;
  }

  .react-tel-input .selected-flag .iti__flag {
    width: 60px;
    height: 60px;
  }

  .react-tel-input .selected-flag .arrow {
    position: relative;
    top: 49%;
    margin-top: -3px;
    margin-left: 2px;
    left: 20px;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 7px solid #555;
  }

  .react-tel-input .selected-flag .arrow.up {
    border-top: unset;
    border-bottom: 7px solid #555;
  }

  .react-tel-input .country-list {
    width: 250px;
    text-align: left;
    max-height: 170px;
  }

  .react-tel-input .country-list .search-box {
    width: 210px;
    margin-left: 0px;
  }

  .css-wkv7oa-MuiPaper-root-MuiDialog-paper {
    max-width: unset !important;
    width: 100% !important;
    margin: 0px !important;
    max-height: calc(100% - 5px) !important;
  }

  .css-ks0ey5-MuiTypography-root-MuiDialogTitle-root {
    padding: 40px 60px 0px 60px !important;
  }

  .css-1kxd7on-MuiDialogContent-root {
    padding: 20px 60px 40px 60px !important;
    height: calc(100% - 10%) !important;
    overflow-y: hidden !important;
  }
}

.formContainer {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 25px;
  width: 100%;
}

.labelInput {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
  margin-top: -8px;
}

.labelInputOdd {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
  margin-right: 28px;
}

.labelText {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: $darkBlue;
}

.inputFields,
.errorFields {
  width: 400px;
  color: $darkBlue;
  border: 1px solid #cacaca;
  border-radius: 5px;
  height: 45px;
  padding: 4px 10px;
  font-size: 16px;

  &:focus,
  &:hover {
    border: 1px solid #007bff;
    outline: none;
  }
}

.errorFields {
  border: 1px solid #e28619;

  &:focus,
  &:hover {
    border: 1px solid #007bff;
    outline: none;
  }
}

.fieldBlock {
  width: 400px;
}

.buttonContainer {
  border-radius: 99px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  padding: 7px 24px;
  width: 150px;
  height: 50px;
  margin: auto;
}

.error {
  min-width: 100%;
  display: flex;
  justify-content: flex-end;
  color: #e28619;
  font-size: 12px;
}

.textBlock {
  color: $darkBlue;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}

.loginText {
  color: #1859b4;
  cursor: pointer;
}

.termsConditionsBlock {
  width: 400px;
  align-items: center;
  padding-left: 15px;
  padding-right: 12px;
  display: flex;
  gap: 5px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: $darkBlue;
  box-shadow: 4px 4px 60px 0px #114b7414;
  border: 1px solid #fff;
  border-radius: 5px;
  height: 48px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  /* Change 'white' to your background color */
  box-shadow: 0 0 0px 1000px white inset;
  /* Change 'white' to your background color */
  -webkit-text-fill-color: #000;
  /* Change text color as needed */
  transition: background-color 5000s ease-in-out 0s;
}

.checkboxContent {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: $darkBlue;
}

.dialogBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $darkBlue;
  font-size: 18px;
  font-weight: 600 !important;
  line-height: 28px;
  text-align: left;
  font-family: "Noto Sans", sans-serif !important;
}

.modalClose {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.dialogText {
  font-family: $natoSansRegular;
  color: red !important;
}

@media (max-width: 460px) {
  .termsConditionsBlock {
    font-size: 12px !important;
  }
}

.profileIconDiv {
  position: relative;
  width: 160px;
  height: 160px;
  margin-bottom: 24px;
}

.editDiv {
  position: absolute;
  bottom: -6px;
  right: 0;
  cursor: pointer;
}

.wrapInputs {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  align-items: center;
}

.rowFlex {
  display: flex;
  flex-direction: row;
  width: 100%;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
}

.buttonContainerSecondary {
  width: 150px;
  font-size: 16px;
  height: 50px;
  color: #000000;
  background-image: none !important;
  border: 1px solid $blue;
}

.buttonTextSecondary {
  color: $blue !important;
}

.scanAlign {
  display: flex;
  align-items: center;
  gap: 20px;
}

.successColor {
  color: #65c466;
}

.buttonsContent {
  display: flex;
  gap: 20px;
  justify-content: center;
}

@media (min-width: 1466px) {
  .signupPage {
    width: 80% !important;
  }
}
