@import "../../common/styles/variables.scss";
.breadcrumbs {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    // padding: 20px;
    padding-left: 0px;
    padding-bottom: 0px;
    width:100%;
    .backArrow {
      display: flex;
      align-items: center;
      img {
        width: 40px;
        height: 25px;
        cursor: pointer;
      }
    }
    .nonActive {
      color: $grey;
      font-size: 14px;
      font-weight: 400;
    }
    .activeTrack{
      color: #1859B4;
      cursor:pointer;
      font-size: 14px;
      font-weight: 600;
    }
    .active{
        color: $darkBlue;
      cursor:pointer;
      font-size: 14px;
      font-weight: 600;
    }

  }