@import "../../styles/variables.scss";

.footerContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 12px 25px;
  border-top: 1px solid #e7eef3;
  gap: 20px;

  .footerContent {
    display: flex;
    align-items: center;
    gap: 24px;

    @media (max-width: 699px) {
      flex-direction: column;
      gap: 0px;
    }
  }

  .text {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    color: $darkBlue;
    display: flex;
    align-items: center;

    @media (max-width: 830px) {
      font-size: 12px;
      line-height: 22px;
    }

    .image {
      width: 17.45px;
      height: 17.45px;
    }
  }

  .textLine {
    font-size: 12px;
    font-weight: 400;
    line-height: 16.34px;
    text-align: left;
    color: $darkBlue;

    @media (max-width: 699px) {
      display: none;
    }
  }

  .textHeading {
    font-size: 12px;
    font-weight: 400;
    line-height: 16.34px;
    text-align: left;
    color: $darkBlue;
  }
}

.mailLink {
  text-decoration: none;
  color: $anchorTag;
  cursor: pointer;
}
