.notification {
  display: flex;
  align-items: center;
}
.image {
  width: 50px;
  height: 50px;
}
.emptydiv {
  width: 50px;
}
.titleHeader {
  font-size: 14px;
  font-weight: 600;
  line-height: 26px;
  color: #000000;
  font-family: "Noto Sans", sans-serif;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
}
.nameClass {
  width: 182px;
  text-align: start;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
