@import "../../common/styles/variables.scss";

.container {
  box-shadow: 4px 4px 60px 0px rgba(17, 75, 116, 0.15);
  border-radius: 16px;
  background-color: #fff;
  border: 1px solid #fff;
  overflow: hidden;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 1;
  background-position: bottom 17px center;
  background-repeat: no-repeat;
  background-size: 355px;
  float: right;
  box-sizing: border-box;
  margin: 100px 100px 0 0;
  padding-top: 40px;
  -webkit-animation: flip-in-ver-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: flip-in-ver-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  .imagesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;
    .successIcon {
      padding-top: 50px;
    }
  }
  .buttonClass {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1859b4;
    width: 150px;
    height: 50px;
    font-family: "Noto Sans", serif;
    font-size: 16px;
    background-image: none !important;
    background-color: none !important;
    border: 1px solid #1859b4;
  }
}

.textDiv {
  padding-top: 16px;
}
.text {
  font-weight: 300;
  font-size: 18px;
  font-family: "Noto Sans", sans-serif;
  color: #051b46;
  line-height: 28px;
  .mahatriaText {
    color: #ff3a3a;
  }
  .successText {
    color: $primaryGreen;
  }
  .errorText {
    color: $errorText;
  }
}

.growthSessionsText {
  font-weight: 400;
  font-size: 18px;
  font-family: "Noto Sans", sans-serif;
  color: #0e3c81;
  span {
    color: $mahatriaName;
  }
}

.skyDiv {
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-image: url("../../assets/images/small-cloud.webp");
  background-size: cover;
  width: 460px;
  height: 252px;
  align-items: center;
}

.profileIconDiv {
  position: relative;
  width: 120px;
  height: 120px;
}

.editDiv {
  position: absolute;
  top: 81px;
  left: 81px;
  cursor: pointer;
}
.editDivError {
  position: absolute;
  top: 81px;
  left: 70px;
  cursor: pointer;
  img {
    width: 60px;
  }
}

.buttons {
  margin-top: 40px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
}
.buttonContainer {
  border-radius: 99px;
  width: 178px !important;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  height: 50px;
  padding: 0px !important;
}

/** for card flip Animation */
@-webkit-keyframes flip-in-ver-right {
  0% {
    -webkit-transform: rotateY(-80deg);
    transform: rotateY(-80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    opacity: 1;
  }
}
@keyframes flip-in-ver-right {
  0% {
    -webkit-transform: rotateY(-80deg);
    transform: rotateY(-80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    opacity: 1;
  }
}

// .container {
//   -webkit-animation: flip-in-ver-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
//     both;
//   animation: flip-in-ver-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
// }

@media (max-height: 800px) {
  .container {
    height: 540px;
    gap: 15px;
  }
  .imagesContainer{
    gap: 15px;
  }
  .skyDiv{
    gap: 20px;
  }
}